:root {

    --primary: #15a14a;
    --adaptation: #15a14a;
    --secondary: #084081;
    --mitigation: #084081;

    --color-way-1: #005a6e;
    --color-way-2: #396b53;
    --color-way-3: #8cb530;
    --color-way-4: #bbc73e;

    --color-way-5: #15a14a; /*Your original, fresh green*/
    --color-way-6: #1569a1; /*A deeper, complementary teal*/
    --color-way-7: #a17815; /*A golden yellow, providing warm contrast*/
    --color-way-8: #a1154a; /*A muted reddish-pink, adding a touch of another hue*/
    --color-way-9: #6a15a1; /*A rich, dark purple, for variety and depth.*/
    --color-way-10: #a0a115; /* A lighter, chartreuse or lime green, harmonizing with the main green.*/


    --color-way-10: #269567;
    --color-way-10: #388984;
    --color-way-10: #2980b9;

    &[data-mantine-color-scheme='light'] {
        --mantine-color-body: #fafafa !important;

    }

}


#_dash-app-content {
    height: 100vh;
}

/* remove the info control from the maps */
.maplibregl-control-container {
    display: none;
}

/* remove margin of markdown */
.no-margin-markdown p {
    margin: 0;
}

/* add custom border and shadow for dmc.Tooltips for light and dark themes*/
/*:where([data-mantine-color-scheme='light']) .mantine-Tooltip-tooltip {*/
/*    box-shadow: 2px 2px 5px*/
/*}*/

:where([data-mantine-color-scheme='light']) {
    .mantine-Tooltip-tooltip {
        border: 1px solid grey;
        box-shadow: 2px 2px 5px
    }

    .mantine-Tooltip-arrow {
        border: 1px solid grey;
    }
}

:where([data-mantine-color-scheme='dark']) {
    .mantine-Tooltip-tooltip {
        border: 1px solid var(--primary);
        box-shadow: 0 0 10px var(--primary)
    }

    .mantine-Tooltip-arrow {
        border: 1px solid var(--primary);
    }
}

/* Grid *******************************************************************************/

/* center group headers, headers and cells*/
.center-aligned-header .ag-header-group-cell-label, .ag-header-cell-label {
    justify-content: center;

    .ag-header-group-text, .ag-header-cell-text {
        /* center text when multi lines */
        text-align: center;
    }
}

.center-flex-cell {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* background-color of the Total row same as headers */
.ag-row-pinned {
    background-color: var(--ag-header-background-color) !important;
}

/* decrease the height of floating filters */
.ag-header-row-column-filter .ag-input-field-input {
    min-height: 20px !important;
}

/* use the alpine icons with the quartz theme */
.ag-theme-quartz {
    --ag-icon-font-family: agGridAlpine !important;
    --ag-background-color: var(--mantine-color-white) !important;
    --ag-header-background-color: var(--mantine-color-gray-1) !important;

}

.ag-theme-quartz-dark {
    --ag-icon-font-family: agGridAlpine !important;
    --ag-background-color: var(--mantine-color-dark-6) !important;
    --ag-header-background-color: var(--mantine-color-dark-8) !important;
}

/* remove margin of <p> generated by dcc.Markdown*/
.ag-tooltip p {
    margin: 0
}

.ag-row-pinned {
    background-color: var(--ag-header-background-color);
    font-weight: bold;
}

/* custom cell icon link class */
.custom-cell-icon-link:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    cursor: pointer;
}


/* Text carousel for card titles *******************************************************************************/
/*custom class to Hide inactive controls and Show controls on hover*/
.carousel-control {
    border: 2px solid var(--primary);

    &[data-inactive] {
        opacity: 0;
        cursor: default;
    }
}

.carousel-controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.carousel-root:hover .carousel-controls {
    opacity: 1;
}

/* Countries Parcats *******************************************************************************/
/* fix parcats fig text on hover */
#countries-parcats text.nums {
    font-family: inherit !important;
    font-size: 13px !important;
}

/* Readiness top partners bar *******************************************************************************/
/* fix header number input width*/
#readiness-top-partners-card-header .mantine-NumberInput-root {
    width: unset !important;
}

/*custom class to Hide inactive controls and Show controls on hover*/
.mantine-NumberInput-control[data-inactive] {
    opacity: 0;
    cursor: default;
}

.mantine-NumberInput-controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.mantine-NumberInput-root:hover .mantine-NumberInput-controls {
    opacity: 1;
}

/*mantine-Carousel-slide justify-content*/
#readiness-top-partners-carousel, #fa-timeline-carousel2, #entities-map-carousel {
    margin-left: 5px;

    .mantine-Carousel-slide {
        display: flex;
        justify-content: left
    }
}

#entities-map-carousel {
    margin-right: 5px;

    .mantine-Carousel-slide {
        display: flex;
        justify-content: right
    }
}

/* Funded Activities timeline - let the labels overflow the plot area*/
#fa-timeline-graph .plotclip rect {
    width: 100%;
}

/* Funded Activities histogram custom group button border */
:where([data-mantine-color-scheme='light']) #fa-histogram-grp-btn {
    border-radius: 4px;
    box-shadow: 2px 2px var(--mantine-color-gray-4);

    button {
        border: 1px solid var(--mantine-color-gray-4);
    }
}

:where([data-mantine-color-scheme='dark']) #fa-histogram-grp-btn {
    border-radius: 4px;
    box-shadow: 2px 2px var(--mantine-color-dark-4);

    button {
        border: 1px solid var(--mantine-color-dark-4);
    }

}

/* Entities mini-grid to use drag and drop for treemap *******************************************************************************/
#entities-levels-drag-grid {

    .ag-center-cols-container {
        width: 100% !important;
    }

    .ag-header-cell {
        padding-right: 0
    }
}